

git+https://github.com/huggingface/transformers.git
gekko
optimum
exllama
auto-gptq --extra-index-url https://huggingface.github.io/autogptq-index/whl/cu118/

python-dotenv
huggingface_hub
huggingface_hub[cli,torch]
torch
torchvision
torchaudio
einops

tiktoken
tensorrt
gradio
gekko
ninja
# ipython
# optimum
# chromadb
# pypdf
# IPython

# pandas
# pandas_datareader
# matplotlib
accelerate
git+https://github.com/lm-sys/FastChat.git