
python-dotenv
huggingface_hub
huggingface_hub[cli,torch]
huggingface_hub[tensorflow]
torch
torchvision
torchaudio
einops

tiktoken
tensorrt
gradio
gekko
ninja
# ipython
# optimum
# chromadb
# pypdf
# IPython

# pandas
# pandas_datareader
# matplotlib